<section id="home" class="g-pt-115 g-pb-80">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-xl-4 g-mb-40 g-mb-0--lg">
          <div
            class="text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-40"
          >
            <h2
              class="h6 g-font-weight-800 g-font-size-12 g-letter-spacing-2 g-color-primary g-mb-20"
            >
              巨華簡介
            </h2>
            <h2
              class="h1 u-heading-v2__title g-line-height-1_3 g-font-weight-600 g-font-size-40 g-mb-minus-10"
            >
              關於我們<br />
            </h2>
          </div>
  
          <p class="g-mb-10">
            巨華科技有限公司於2002年創立，代理銷售進口高低壓輸配電設備，鑑於<span
              class="hight-light-text"
              >綠建築</span
            >及節能系統的興起，於2009年以"<span class="hight-light-text"
              >HILUX</span
            >"品牌代理台灣製品及進口製品"<span class="hight-light-text"
              >Control4</span
            >","<span class="hight-light-text">無線開關</span>","<span
              class="hight-light-text"
              >彩妝觸控開關</span
            >"著眼於"<span class="hight-light-text">智能燈光控制系統</span
            >"，運用微電腦科技來控制燈光，透過4G、Wi-Fi由手機或平板電腦進行遠端監控或現場直接操控。
          </p>
        </div>
  
        <div class="col-lg-7 col-xl-8">
          <div
            class="js-carousel"
            data-infinite="true"
            data-speed="5000"
            data-rows="2"
            data-slides-show="2"
            data-arrows-classes="u-arrow-v1 g-pos-abs g-bottom-100x g-right-0 g-width-35 g-height-35 g-font-size-default g-color-gray g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-mb-5 g-transition-0_2 g-transition--ease-in"
            data-arrow-left-classes="fa fa-angle-left g-mr-50"
            data-arrow-right-classes="fa fa-angle-right g-mr-5"
            data-responsive='[{
                 "breakpoint": 1200,
                 "settings": {
                   "slidesToShow": 2
                 }
               }, {
                 "breakpoint": 768,
                 "settings": {
                   "slidesToShow": 1
                 }
               }]'
          >
            <div class="js-slide g-pa-5">
              <div class="g-parent g-pos-rel g-overflow-hidden">
                <img
                  class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in"
                  src="assets/img-temp/400x269/img9.jpg"
                  alt="Image description"
                />
  
                <div
                  class="g-pos-abs g-top-0 g-left-0 w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-pa-25 g-transition-0_3 g-transition--ease-in"
                >
                  <h3
                    class="text-uppercase g-font-weight-700 g-font-size-16 g-color-white mb-0"
                  >
                    The moon ltd
                  </h3>
                  <p class="g-font-size-12 g-color-gray-light-v4 mb-0">
                    Quisque rhoncus euismod pulvinar. Nulla non arcu at lectus.
                    Vestibulum fringilla velit.
                  </p>
                </div>
              </div>
            </div>
            <div class="js-slide g-pa-5">
              <div class="g-parent g-pos-rel g-overflow-hidden">
                <img
                  class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in"
                  src="assets/img-temp/400x269/img10.jpg"
                  alt="Image description"
                />
                <div
                  class="g-pos-abs g-top-0 g-left-0 w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-pa-25 g-transition-0_3 g-transition--ease-in"
                >
                  <h3
                    class="text-uppercase g-font-weight-700 g-font-size-16 g-color-white mb-0"
                  >
                    Support &amp; development
                  </h3>
                  <p class="g-font-size-12 g-color-gray-light-v4 mb-0">
                    Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in
                    nulla non arcu at lectus.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="js-slide g-pa-5">
              <div class="g-parent g-pos-rel g-overflow-hidden">
                <img
                  class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in"
                  src="assets/img-temp/400x269/img11.jpg"
                  alt="Image description"
                />
                <div
                  class="g-pos-abs g-top-0 g-left-0 w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-pa-25 g-transition-0_3 g-transition--ease-in"
                >
                  <h3
                    class="text-uppercase g-font-weight-700 g-font-size-16 g-color-white mb-0"
                  >
                    Boston global
                  </h3>
                  <p class="g-font-size-12 g-color-gray-light-v4 mb-0">
                    In rutrum tellus vitae blandit lacinia. Phasellus eget sapien
                    odio. Phasellus eget sapien odio.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="js-slide g-pa-5">
              <div class="g-parent g-pos-rel g-overflow-hidden">
                <img
                  class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in"
                  src="assets/img-temp/400x269/img12.jpg"
                  alt="Image description"
                />
                <div
                  class="g-pos-abs g-top-0 g-left-0 w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-pa-25 g-transition-0_3 g-transition--ease-in"
                >
                  <h3
                    class="text-uppercase g-font-weight-700 g-font-size-16 g-color-white mb-0"
                  >
                    Marketing group
                  </h3>
                  <p class="g-font-size-12 g-color-gray-light-v4 mb-0">
                    Nunc ullamcorper, justo a iaculis elementum, enim orci viverra
                    eros, fringilla porttitor.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="js-slide g-pa-5">
              <div class="g-parent g-pos-rel g-overflow-hidden">
                <img
                  class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in"
                  src="assets/img-temp/400x269/img9.jpg"
                  alt="Image description"
                />
  
                <div
                  class="g-pos-abs g-top-0 g-left-0 w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-pa-25 g-transition-0_3 g-transition--ease-in"
                >
                  <h3
                    class="text-uppercase g-font-weight-700 g-font-size-16 g-color-white mb-0"
                  >
                    The moon ltd
                  </h3>
                  <p class="g-font-size-12 g-color-gray-light-v4 mb-0">
                    Quisque rhoncus euismod pulvinar. Nulla non arcu at lectus.
                    Vestibulum fringilla velit.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="js-slide g-pa-5">
              <div class="g-parent g-pos-rel g-overflow-hidden">
                <img
                  class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in"
                  src="assets/img-temp/400x269/img10.jpg"
                  alt="Image description"
                />
  
                <div
                  class="g-pos-abs g-top-0 g-left-0 w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-pa-25 g-transition-0_3 g-transition--ease-in"
                >
                  <h3
                    class="text-uppercase g-font-weight-700 g-font-size-16 g-color-white mb-0"
                  >
                    Support &amp; development
                  </h3>
                  <p class="g-font-size-12 g-color-gray-light-v4 mb-0">
                    Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in
                    nulla non arcu at lectus.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="js-slide g-pa-5">
              <div class="g-parent g-pos-rel g-overflow-hidden">
                <img
                  class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in"
                  src="assets/img-temp/400x269/img11.jpg"
                  alt="Image description"
                />
  
                <div
                  class="g-pos-abs g-top-0 g-left-0 w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-pa-25 g-transition-0_3 g-transition--ease-in"
                >
                  <h3
                    class="text-uppercase g-font-weight-700 g-font-size-16 g-color-white mb-0"
                  >
                    Boston global
                  </h3>
                  <p class="g-font-size-12 g-color-gray-light-v4 mb-0">
                    In rutrum tellus vitae blandit lacinia. Phasellus eget sapien
                    odio. Phasellus eget sapien odio.
                  </p>
                </div>
              </div>
            </div>
  
            <div class="js-slide g-pa-5">
              <div class="g-parent g-pos-rel g-overflow-hidden">
                <img
                  class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_3 g-transition--ease-in"
                  src="assets/img-temp/400x269/img12.jpg"
                  alt="Image description"
                />
  
                <div
                  class="g-pos-abs g-top-0 g-left-0 w-100 h-100 g-bg-primary-opacity-0_8 g-color-white opacity-0 g-opacity-1--parent-hover g-pa-25 g-transition-0_3 g-transition--ease-in"
                >
                  <h3
                    class="text-uppercase g-font-weight-700 g-font-size-16 g-color-white mb-0"
                  >
                    Marketing group
                  </h3>
                  <p class="g-font-size-12 g-color-gray-light-v4 mb-0">
                    Nunc ullamcorper, justo a iaculis elementum, enim orci viverra
                    eros, fringilla porttitor.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  